#Ignore all zip and chromedriver files
chromedriver
*.zip

#Ignore local notes file
*notes*

#Ignore log files
*.log

#Ignore secrets File
*secrets*

#Ignore test files
*test*

#Ignore cookie files
*cookies*